.container {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0 auto;
  width: fit-content;
}

.weather-app {
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
}

header {
  padding: 5px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.info {
  padding: 5px;
}

.card-subtitle {
  text-align: left;
}

form {
  text-align: center;
  padding: 30px 20px 5px 20px;
}
.search {
  border-radius: 20px;
  border: 2px;
  text-align: center;
}
.button {
  border-radius: 20px;
  border: 2px;
  padding: 5px;
  font-size: 14px;
  box-shadow: 3px 3px 1px #6c7384;
  background-color: #ffffff;
}
.locationButton {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 2px;
  padding: 5px;
  font-size: 14px;
  box-shadow: 3px 3px 1px #6c7384;
  background-color: #ffffff;
}

.temperatureNow {
  font-size: 40px;
}

.temp {
  font-size: 18px;
  position: absolute;
}

h3,
h4 {
  font-size: 18px;
}
.mainIcon {
  max-width: 50%;
}

.daytime {
  font-size: 12px;
  padding: 3px;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
.daytemperature {
  font-size: 12px;
  padding: 3px;
  width: 100%;
  text-align: center;
}

.col img {
  max-width: 40%;
}

hr {
  margin: 10px 5px 5px 5px;
}
.week {
  text-align: center;
  width: 100%;
  padding: 5px 20px 20px 20px;
}
